*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	font-weight: inherit;
	font-size: inherit;
}
h1,
h2{
	font-size: 48px;
	margin-bottom:28px;
}
h3{
	font-size: 36px;
	margin-bottom:28px;
}
h4{
	font-size: 24px;
}
h5{
	font-size: 10px;
	margin-bottom:16px;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #fafafa;
	font-size: 14px;
	color: #252b42;
	font-weight: 500;
	font-family: Montserrat;
	color: #8D96BD;
}

/* ---------------------------------------------------------------------------- */
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}
main{
	flex: 1 1 auto;
}
/* ---------------------------------------------------------------------------- */
._container {
	max-width: 1130px;
	padding: 0 20px;
	margin: 0 auto;
	box-sizing: content-box;
}
._ibg img {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.header-block__wrapper{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 104px;
}
.header__logo {
	font-size: 24px;
	font-weight: 700;
	color: #62D0DF;
}
.menu__btn{
  display: flex;
  align-items: center;
  position: absolute;
	visibility: hidden;
  top: 38px;
  right:24px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 20;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
#menu__toggle {
  opacity: 0;
}
.menu {
	display: flex;
	align-items: center;
	width: 60%;
	padding: 5px 0;
}
.menu__list {
	display: flex;
	flex-basis: 80%;
}
.menu__item:not(:last-child) {
	margin: 0 26px 0 0;
}
.menu__link {
	color: #22356F;
	font-weight: 600;
	line-height: calc(24 / 14 * 100%);
}
.menu__link:hover {
	padding-bottom: 8px;
	border-bottom: 2px #22356F solid;
	text-decoration: none;
}
.header_contact{
	text-align: center;
	white-space: nowrap;
	box-sizing: border-box;
	padding: 16px 33px;
	font-size: 14px;
	border-radius: 50px;
	color: #ffffff;
	font-weight: 700;
	background-color:#62D0DF;;
}
@media(max-width:979px){
.header__menu{
	display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
	z-index: 10;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	}
.menu__list{
	flex-direction: column;
	justify-content: center;
	margin-bottom: 35px;
	}
	.menu__item{
		font-size: 24px;
	}
	.menu__item:not(:last-child) {
		margin: 0 0 0 0;
	}
	.menu__btn{
		visibility: visible;
	}
	#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
	}
	#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
	}
	.header__hamburger-menu:has(#menu__toggle:checked) ~ .header__menu{
		visibility: visible;
		left: 0;
	}
}
.header-block {
	position: relative;
}
.header-block__container {
}
.header-block__body {
	position: relative;
	max-width: 400px;
	padding: 184px 0 191px 0;
	z-index: 2;
}
@media (max-width: 992px) {
	.header-block__body {
		padding: 120px 0 191px 0;
	}
}
@media (max-width: 479px) {
	.header-block__body {
		padding: 115px 0 160px 0;
	}
}
.header-block__body > *:not(:last-child) {
	margin: 0 0 35px 0;
}
.header-block__title{
	font-size: 24px;
	font-weight: 700;
	color: #62D0DF;
}
.header-block__subtitle {
	margin: 0 0 82px 0;
	font-size: 48px;
	line-height: 110%;
	letter-spacing: 0.2px;
	font-weight: 800;
	color: #22356F;
}
@media (max-width: 479px) {
	.header-block__title {
		font-size: 42px;
	}
}
.header-block__text {
	color: #22356F;
	font-size: 20px;
	line-height: 150%;
}
@media (max-width: 479px) {
	.header-block__text {
		color: #585757;
	}
}
.header-block__buttons {
	display: flex;
	flex-wrap: wrap;
	margin: -10px 0;
}
.header-block__button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 48px;
	margin: 10px 0;
	padding: 5px 36px;
	border-radius: 37px;
	letter-spacing: 0.2px;
	font-weight: 700;
	line-height: 150%;
	transition: all 0.3s ease 0s;
}

@media (max-width: 479px) {
	.header-block__button {
		flex: 1 1 100%;
	}
}
@media (min-width: 479px) {
	.header-block__button:not(:last-child) {
		margin-right: 10px;
	}
}
.header-block__button_orange {
	background: #ff7b47;
	color: #fff;
}
.header-block__button_orange:hover {
	background-color: #fff;
	color: #ff7b47;
}
.header-block__button_border {
	color: #0d5c63;
}
.header-block__button_border:hover {
	background-color: #0d5c63;
	color: #fff;
}
.header-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@media (max-width: 1300px) {
	.header-block__image img {
		object-position: right;
	}
}
@media (max-width: 992px) {
	.header-block__image {
		opacity: 0.5;
	}
}